html, body, #root {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

body {
    background-color: #f0f0f0; 
    background-image: none !important;
    background-size: initial;
    background-attachment: initial; 
    background-position: initial;
    background-repeat: initial;
    min-height: 100vh; 
}

header, footer {
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    z-index: 10; 
    position: relative; 
}

.services-section, .about-detail, .projects-section {
    background-color: #fff; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); 
    margin-bottom: 30px; 
}